<div class="container" ng-controller="messages">
  <h1>Firebase Chat Application</h1>

  <div class="panel panel-default">
    <div class="panel-body"></div>
    <div class="panel-footer">

      <form role="form">
        <div class="form-group">
          <label for="comments">Please enter a comment here</label>
          <input class="form-control" id="comments" name="comments">
        </div>

        <button type="submit" class="btn btn-primary" id="submit-button" name="submit-button">
          Send Comment
        </button>
        <button type="reset" class="btn btn-primary" id="reset-button" name="reset-button">Clear comments</button>
      </form>
    </div>
  </div>
</div>
